#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  border-radius: 15px;
  padding: 10px;
  flex-direction: column;
  border: 3px solid;
  box-shadow: 5px 5px black;
}

input{
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

button{
  margin: 10px;
  background-color: red;
  border-radius: 15px;
}

#h3Title{
  color: red;
}

#Search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Search > div{
  padding: 5px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
