.headerAuth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.headerAuth.shadow {
    background-color: rgba(240, 248, 255, 0.4);
    /* Más transparente */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* Sombra suave y difusa */
    backdrop-filter: blur(6px);
    /* Aplica un ligero difuminado */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.Logo {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.navAuth {
    padding: 20px;
    display: flex;
    align-items: center;
}

.navAuth button {
    border-radius: 8px;
    margin: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(100, 0, 0,0.1);
    cursor: pointer;
    transition: border-color 0.25s;
}

.navAuth button:hover {
    border-color: #646cff;
}

.navAuth button:focus,
.navAuth button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.popUpAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro translúcido */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalOverlay.active {
    display: flex;
}

/* Estilo de la ventana modal */
.form {
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonBack {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    color: blue;
}



