.tokenCommerce{
    cursor: pointer;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);    
    transition: transform 0.1s ease; 
}

.tokenCommerce:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.tokenCommerce:active {
    background-color: #e9ecef;
    transform: translateY(2px); /* Mueve hacia abajo */
    cursor: pointer;
}
