/* Section styling */
.webReviews {
    margin-bottom: 1.5rem;
}

.webImages{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.itemLabelImage {
    font-weight: bold;
    color: #333;
    margin-right: 0.5rem;
    align-self: center;
}

/* Section label styling */
.sectionLabel {
    font-size: 1.2rem;
    color: #444;
    font-weight: bold;
    margin: 0.5px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Image container */
.imageContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    overflow-x: auto;
    margin-top: 20px;
    gap: 0.5rem;
}

.webImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.reviewsContainer {
    max-height: 200px;
    overflow-y: auto;
}

.reviewItem {
    background-color: #f9f9f9;
    padding: 0.75rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.reviewDetail {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
}


.reviewButton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Close Button Styling */
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    color: blue;
}


.starRating {
    font-size: 1.5rem; /* adjust as needed */
    color: gold;
}